{% extends "base.html" %}

{% block content %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">{{ survey.title }}</h1>
    <h1 class="ui header dividing">Results</h1>
    {% for question in questions %}
    <div class="ui basic padded segment left aligned">
        <!--<h4 class="ui header">-->
        <!--    Question {{ forloop.counter }}: {{ question.question.text }}-->
        <!--</h4>-->
        {{question.chart|safe}}
    </div>
    {% endfor %}

</div>
{% endblock %}