{%extends 'base.html'%}

{%block content%}
	<div class="h-[80vh] overflow-hidden flex items-center justify-center">
	  <form method="post" novaldiate class="bg-white w-1/3 text-center text-xl flex-col justify-center px-6 py-12 text-white mx-auto rounded">
	  	{% csrf_token %}
	    <h2 class="text-blue-500 text-xl py-4">Create your account</h2>
		{% for field in form %}
                <div class="text-blue-500 py-6">
	    		{{ field.label_tag }}
                </div>
                <div class="text-black">
	        	{{ field }}
                </div>
	        	{% if field.errors %}
	        		<small class="error">{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		
		<input type="submit" value="Register" class="py-2 px-4 bg-transparent text-blue-500 rounded hover:bg-white hover:text-blue-800">
		<p class="text-blue-500 text-xl">Already have an account? <a href="{% url 'login'%}" class="hover:text-blue-900">Login Here</a></p>
		</form>
	</div>
{%endblock content%}